[core]
	editor = nvim
	pager = delta
[user]
	name = Gabriel Saillard
	email = gabriel@saillard.dev
	signingkey = 3788B51C0983EE58
[includeIf "gitdir:~/git/carbonfact/"]
	path = ~/work.gitconfig
[commit]
	gpgsign = true
[tag]
	gpgSign = true
[diff]
    colorMoved = default
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true # use n and N to move between diff sections
[merge]
	conflictstyle = zdiff3
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[pull]
	rebase = true
	ff = only
[push]
	default = current
	autoSetupRemote = true
[init]
	defaultBranch = main
[gpg]
	program = /opt/homebrew/bin/gpg
[fetch]
	prune = true
