[user]
	name = Gabriel Saillard
	email = gabriel@saillard.dev
	signingkey = 4F615B5FE436611A
[commit]
	gpgsign = true
[diff]
	tool = kitty
	guitool = kitty.gui
[difftool]
	prompt = false
	trustExitCode = true
[difftool "kitty"]
	cmd = kitty +kitten diff $LOCAL $REMOTE
[difftool "kitty.gui"]
	cmd = kitty kitty +kitten diff $LOCAL $REMOTE
# FROM <http://blog.kfish.org/2010/04/git-lola.html>
[alias]
	lolp = log --graph --pretty=format:\\"%C(yellow)%h%Creset%C(cyan)%C(bold)%d%Creset %C(cyan)(%cr)%Creset %C(green)%ce%Creset %s\\"
	lol = log --graph --decorate --pretty=oneline --abbrev-commit
	lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
	lolap = log --graph --decorate --pretty=oneline --abbrev-commit --exclude='*prod*' --all
	lolan = log --graph --decorate --pretty=oneline --abbrev-commit --all --name-status
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[pull]
	rebase = true
	ff = only
[init]
	defaultBranch = master
[tag]
	gpgSign = true
[core]
	editor = nvim
[gpg]
	program = gpg2
[fetch]
	prune = true
