[user]
	name = Gabriel Saillard
	email = gabriel@saillard.dev
	signingkey = 3788B51C0983EE58
[commit]
	gpgsign = true
[diff]
	tool = kitty
	guitool = kitty.gui
[difftool]
	prompt = false
	trustExitCode = true
[difftool "kitty"]
	cmd = kitty +kitten diff $LOCAL $REMOTE
[difftool "kitty.gui"]
	cmd = kitty kitty +kitten diff $LOCAL $REMOTE
[alias]
	lol = log --graph --decorate --pretty=oneline --abbrev-commit
	lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
[merge]
	conflictstyle = zdiff3
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[pull]
	rebase = true
	ff = only
[push]
	default = current
	autoSetupRemote = true
[init]
	defaultBranch = master
[tag]
	gpgSign = true
[core]
	editor = nvim
[gpg]
	program = /opt/homebrew/bin/gpg
[fetch]
	prune = true
