[Unit]
Description=Backup config to S3 Glacier
Wants=network-online.target
After=network-online.target
OnFailure=notify-failure@%n.service

[Service]
Type=oneshot
ExecStart=/home/gaby/backup-scripts/backup-config.sh
