{
	email gabriel@saillard.dev
}

media.gaby.dev {

	header {
		Strict-Transport-Security "max-age=31536000"
	}

	log {
		output stdout
		format console
	}

	reverse_proxy host.docker.internal:8096
}

agent.gaby.dev {

	header {
		Strict-Transport-Security "max-age=31536000"
	}

	log {
		output stdout
		format console
	}

	handle /linear/* {
		reverse_proxy linear-agent-controller:8787
	}

	handle {
		respond 404
	}
}
